# Maven
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/

# Build tools
build/
out/

# OS
.DS_Store
Thumbs.db